.w-30 {
    width: 160px !important;
}


.sticky-toolbar a{
    color: #ef4545 !important;
    background-color: #f3f6f9;
    border-color: transparent;
}



#chat-circle{
    color: #ffff !important;
    background-color: #4eb968;
    border-color: transparent;   
}
.green{
    color: #ffff !important;
    background-color: #4eb968;
}
.serv{
   width:20em;
   color:#0c1a32 !important;
   background-color: #fff;
}
.main-header .ar-lng{
    background-color:#0c1a32;
    width:50px;
    height:50px;
  
  
}
.card .about{

    
    min-height: 285px;
   
}
.box-light{

 background-color:#566f9e;

}
.fs-16{
    color:#e3e3e8;
}

.s1{
    position: absolute;
    z-index: 2;
    left:9%;
    width: 40%;
    padding-top: 8em;

  
}

.s2{
  
    position: absolute;
    z-index: 2;
    right: 9%;
    width: 40%;
    padding-top: 8em;
  
}



.mob-title{
    color: #008920;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.app-download-btns img{
    width: 150px;
}

.carousel-caption .s1-title h2{
    color: #008920;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;

}

.feature{
    margin-top: 10px;
    margin-bottom: 40px;
   
}
.feature-icon,
.stats-icon{
    display: inline-block;
    padding: 0 30px;
    overflow: hidden;
}
.feature h4{
    color: #000000;
    margin: 20px 0 0;
}
.feature:hover .feature-icon img,
.stats-item:hover .stats-icon img{
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}
.ser{
    background-color: rgb(175, 169, 175);
}
.page-header .t{
    margin: 30px 0 40px;
}
.carousel-caption {

    top: 9.25rem
}

.app-download{
    padding-bottom: 20px;
}
.text-home{
   margin-top: 2em;
}

.bankslogo{
    padding: 0.1rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
 }
.userbtn{

      width: auto;
   
    font-size: 1.214rem;
   
}
 .termlo{
 
     margin-top:10em;
    
 }
 .demo-checkbox label {
    margin-bottom: 0px;
}

 .table > thead > tr > td, .table > thead > tr > th {
     padding: 0.5rem;
      }
 .table > tbody > tr > td, .table > tbody > tr > th {
    padding: 0.5rem;
}
.no {
    padding: 0.9rem;
    font-size: 16px;}

.bid{
    background-color: rgb(27 197 188 / 48%)!important;
}
.ask{
    background-color: rgb(246 78 96 / 48%) !important;
    
}

.lastb {
    background-color: rgb(78 114 246 / 25%) !important;
}
.headery{
    background-color: rgb(86 111 158 / 37%) !important;

}
.new-progress-wrap {
    min-width: 100px;
    margin: 0 auto;
    
}
.new-progress-line > li {
    background-color: rgba(211, 211, 211, 0.3);
    min-height: 10px;
    position: relative;
}
.new-progress-line > li + li:before {
     height: 24px;
 }
 .new-progress-line .scale.first {
    margin-top: 15px;
    text-align: left;
    line-height: 10px;
    left: 0;
    right: auto;
 
}
.buy{
    background-color: rgb(27 197 189 / 24%) !important;
}
.sell {
    background-color: rgb(246 78 96 / 32%) !important;
}

.my-10:hover{
    filter: grayscale(100%);
  
}
.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 10.15px;
    left:  0.5995rem;
    width: 2.425rem;
    height: 1.825rem;
    border-radius: 0;
    background: rgb(4 12 18 / 75%);
    transition: left .25s;
    box-shadow: none;
}
.btn-toggle.btn-xs.active > .handle {
    left: 3.2875rem;
    transition: left .25s;
}
.btn-toggle.active {
    background-color: #20304c;
}

.btn-toggle.btn-xs {
    padding: 10px;
    background-color: #20304c;

 
    font-size: 1.714rem;
    height: 45px;
    text-align: center;
 
    margin: 10px 5px;
    border-radius: 10px;
}
 .data-delay {
   
   
    margin: 0;
    padding: 0 23px;
    line-height: 33px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
   
    position: relative;
    font-weight: bold;
    display: inline-block!important;
    padding: 1px 15px 1px 15px!important;
    background-color: #ef4545;
    font-size: 12px!important;
}

.boxy{
  padding: 0 1.5rem;

}

 .nsp{ padding: 0;}
/*--footer--*/
footer{
    background-color:#566f9e;
}

.b-footer {
    padding: 20px;
 background: #172b4c;

 
}
.stats-icon img{
    max-width:50%
}
.mybordrer{
    
}

.main-header .navbar {
    padding-right: 0;
}
.main-header .logo .logo-lg {
    padding-left: 0;
}
.layout-top-nav .content-wrapper, .layout-top-nav .main-footer, .layout-top-nav .main-nav > .navbar {
    width: 94.5%;}
/*--//footer--*/
.input-group > .form-control, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 80%;
    min-width: 0;
}

.theme-warning .callout.callout-warning {
    /* border-color: #6993ff; */
    background-color: rgb(255 255 255 / 12%) !important;
}
.theme-warning .nav-tabs.nav-tabs-danger .nav-link:hover, .theme-warning .nav-tabs.nav-tabs-danger .nav-link:active, .theme-warning .nav-tabs.nav-tabs-danger .nav-link:focus, .theme-warning .nav-tabs.nav-tabs-danger .nav-link.active  {
    border-bottom-color: #4eb968;
    background-color: #4eb968;
    color: #ffffff;
}
.marketw{
    width: 95%;
}