.w-30 {
    width: 160px !important;
}


.sticky-toolbar a{
    padding: 0.65rem 0.65rem;
    color: #ffffff !important;
    background-color: #f3f6f9;
    border-color: transparent;
}
#chat-circle:hover{
    background-color: transparent !important;
    border:0;
}
.theme-warning .btn-flat.btn-primary-light:focus {
    color: #ffffff !important;
}
.sub{
    border-radius:10px;
    background-color: #20304c !important;
    padding: 0.875rem 1.1rem 0.875rem 0.75rem;
    
 
}
select.option.sub{border:0;}
.mw {
   
  padding: 0.1rem 2.25rem 0.1rem 0.75rem;
  background-color: #566f9e !important; 
  color: #fff !important; 
    
}
.thfont{
    margin-right: 0;
    font-size:12px;
   

}
.tdfont{
    font-size:13px;

}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting.pp{
    padding-right: 32px;
}

.errormsg{
    padding: 0;
    color:#ef4545;
}

.btn-secondary {
    background-color: #bdd1f8 ;
    border-color: #e4e6ef;
    color: #172b4c;
}
#chat-circle{
    color: #ffff !important;
    background-color: #4eb968;
    border-color: transparent;   
}


.green{
    color: #ffff !important;
    background-color: #4eb968;
}

.footercolor{
    color: #ffff !important;
    background-color: #566f9e;
}
.serv{
   width:20em;
   color:#0c1a32 !important;
   background-color: #fff;
}
.main-header .ar-lng{
    background-color:#0c1a32;
    width:50px;
    height:50px;
  
  
}

.card .about{

    
    min-height: 200px;
   
}
.box-light{

 background-color:#566f9e;

}
.fs-16{
    color:#e3e3e8;
}

.s1{
    position: absolute;
    z-index: 2;
    left:9%;
    width: 40%;
    padding-top: 8em;

  
}

.s2{
  
    position: absolute;
    z-index: 2;
    right: 9%;
    width: 40%;
    padding-top: 8em;
  
}



.mob-title{
    color: #008920;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.app-download-btns img{
    width: 150px;
}

.carousel-caption .s1-title h2{
    color: #008920;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;

}

.feature{
    margin-top: 10px;
    margin-bottom: 40px;
   
}
.feature-icon,
.stats-icon{
    display: inline-block;
    padding: 0 30px;
    overflow: hidden;
}
.feature h4{
    color: #000000;
    margin: 20px 0 0;
}
.feature:hover .feature-icon img,
.stats-item:hover .stats-icon img{
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}
.ser{
    background-color: rgb(175, 169, 175);
}
.page-header .t{
    margin: 30px 0 40px;
}
.carousel-caption {

    top: 9.25rem
}

.app-download{
    padding-bottom: 20px;
}
.text-home{
   margin-top: 2em;
}

.bankslogo{
    padding: 0.7rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
    height:80px;
 }

 .bankslogo img{
     max-width:100px;
     max-height:60px;
   
 }
 .btn-sm {
    padding: .075rem .55rem;
    margin-right: 0.2rem;
    font-size: .925rem;
    line-height: 1.35;
}

.btn-secondary {
    padding: 2px 4px;
    font-size: 0.9rem;
}
 .media-list-hover .active{
    background-color: #112547 !important;
    color:#ffa800 !important;
}

.media-list-hover.fa a:hover svg{
   
    color:#ffffff !important;
}
.theme-warning .sm-blue a:hover svg, .theme-warning .sm-blue a:active svg, .theme-warning .sm-blue a:focus svg {
    color: #ffa800;
    fill: rgba(1, 104, 250, 0);
}


.userbtn{

      width: auto;
   
    font-size: 1.214rem;
   
}
 .termlo{
 
     margin-top:10em;
    
 }
 .demo-checkbox label {
    margin-bottom: 0px;
}

 .table > thead > tr > td, .table > thead > tr > th{
     padding: 0.01rem;
      }
 .table > tbody > tr > td, .table > tbody > tr > td{
    padding: 0;
}

.trd {
    font-size:12px;
    padding-left: 0 !important;
   
}
table.corp td, th{
    padding: 0.5rem !important;
    padding-left: 0.1rem !important; ;
 }
 table.corpkaman td, th{
    padding-left: 0.5rem !important;
   
 }
.no {
    padding: 0.9rem;
    font-size: 16px;}

.bid{
    background-color: rgb(27 197 188 / 48%)!important;
}
.ask{
    background-color: rgb(246 78 96 / 48%) !important;
    
}

.flashr{
    color:#ffffff !important;
    background-color: #ff0a24 !important;
  
}

.flashg{
    color:#ffffff !important;
    background-color: #0acc24 !important;
  
}

.lastb {
    background-color: rgb(78 114 246 / 25%) !important;
}
.headery{
    background-color: rgb(86 111 158 / 37%) !important;

}
.new-progress-wrap {
    min-width: 100px;
    margin: 0 auto;
    
}
.new-progress-line > li {
    background-color: rgba(211, 211, 211, 0.3);
    min-height: 10px;
    position: relative;
}
.new-progress-line > li + li:before {
     height: 24px;
 }
 .new-progress-line .scale.first {
    margin-top: 15px;
    text-align: left;
    line-height: 10px;
    left: 0;
    right: auto;
 
}
.baby{
 color: #bdd1f8 !important;
}
.widj{
    padding: 0.8rem;
    padding-bottom: 0.4rem;
}
.buy {
    background-color: rgb(27 197 126 / 45%) !important;
}
.sell {
    background-color: rgb(246 78 96 / 56%) !important;
}

.gry:hover{
    filter: grayscale(100%);
  
}
.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 10.15px;
    left:  0.5995rem;
    width: 2.425rem;
    height: 1.825rem;
    border-radius: 0;
    background: rgb(4 12 18 / 75%);
    transition: left .25s;
    box-shadow: none;
}

.vtabs .tabs-vertical {
    width: 234px;
}
.btn.btn-flat {
      width: 41px;
      height: 41px;
}
.dark-skin .btn-flat.b {
   
    background-color: #4eb968 !important;
} 
.dark-skin .btn-flat.s {
  
    background-color: #ef4545 !important;
} 
.sticky-toolbar {
        width: 50px;
        
   
        top: 30%;
        left: 0;
        border-top-right-radius: .42rem;
        border-bottom-right-radius: .42rem;
        padding: 10px;   
 }    

 .btn.tic {
  
    font-size: 1.2rem;
    font-weight: bold;
}

.market {
    color: #b5b5c3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
    display: block;
    position: relative;
}
.market svg {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    color: #b5b5c3;
    text-align: center;
    margin-right: 10px;
    fill: rgba(27, 46, 75, 0.06);
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 0.1em;
    content: "\2191";
    top: 0.1em;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.1em;
    content: "\2193";
    top: 0.1em;
}
.callout-warning{
    position: relative;
    z-index: 999;
    top:55px;
    width:60%;
    left: 5px;

}
.accstmt{}
.theme-warning .callout.callout-warning {
     background-color: transparent !important;
}
.taby{
    background-color: #566f9e;
}
.btn-toggle.btn-xs.active > .handle {
    left: 3.2875rem;
    transition: left .25s;
}
.btn-toggle.active {
    background-color: #20304c;
}

.btn-toggle.btn-xs {
    padding: 10px;
    background-color: #20304c;

 
    font-size: 1.714rem;
    height: 45px;
    text-align: center;
 
    margin: 10px 5px;
    border-radius: 10px;
}
 .data-delay {
   
   
    margin: 0;
    padding: 0 23px;
    line-height: 33px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
   
    position: relative;
    font-weight: bold;
    display: inline-block!important;
    padding: 1px 15px 1px 15px!important;
    background-color: #ef4545;
    font-size: 12px!important;
}

.boxy{
  padding: 0 1.5rem;

}

 .nsp{ padding: 0;}
/*--footer--*/
footer{
    background-color:#566f9e;
}

.b-footer {
    padding: 20px;
 background: #172b4c;

 
}
.stats-icon img{
    max-width:50%
}
.btn.se {
  
    padding: 6px 16px;
    font-size: 1.1rem;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.main-header .navbar {
    padding-right: 0;
}
.main-header .logo .logo-lg {
    padding-left: 0;
}
.layout-top-nav .content-wrapper, .layout-top-nav .main-footer, .layout-top-nav .main-nav > .navbar {
    width: 94.5%;}
/*--//footer--*/
.input-group > .form-control, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 80%;
    min-width: 0;
}



.marketw{
    width: 95%;
}
.theme-warning .nav-tabs .nav-link.active {
    border-bottom-color: transparent !important;
    background-color: #112547 !important;
    color: #ffa800;
}

.dark-skin .nav-tabs .nav-link.active {
    color: #ffffff !important;
}
.dark-skin.theme-warning .sm-blue a:hover, .dark-skin.theme-warning .sm-blue a:active, .dark-skin.theme-warning .sm-blue a:focus {
    background:#ffa800 !important;
    color: #ffa800 !important;
}
.dark-skin.theme-warning .sm-blue a:hover, .dark-skin.theme-warning .sm-blue a:active, .dark-skin.theme-warning .sm-blue a:hover {
    background: transparent !important;
    color: #ffa800 !important;
}
.dark-skin .vtabs .tabs-vertical li .nav-link:hover {
    color: #ffa800;
}
@media (max-width: 767px) {
    .callout-warning{
        width:100%;
        top:20px;
     
        left: 10px;
    
    }
    .accstmt{
        padding-top:20px;
    }
    h5.buytic{
        font-size: 0.8428571428571428rem;
    }
    
    }