p{
    font-size: 1.05em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(38, 44, 94);
  }
  th.sti {
    background-color: rgb(86 111 158) !important;
    text-align: center;
}
  .theme-warning .nav-pills > li > a.active:hover, .theme-warning .nav-pills > li > a.active:focus {
    border-top-color: #ffa800;
    background-color: transparent !important;
    color: #ffffff;
}
.nav-tabs .nav-link {
    padding: 0.1rem 0.55rem;
}
.theme-warning .nav-pills > li > a.active {
    border-top-color: transparent !important}
.myBox {
   
    height: 1039px;
    overflow: auto;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }

.w-30 {
    width: 160px !important;
}
  .dataTables_filter, .dataTables_info, .dataTables_filter, .pagination { display: none; 
 }
 .box-header > .box-controls.ttop{
    top: -1.3rem;
}
 .bblack{
     background-color: #0c1a32;
 }
 .pr.dt-buttons{
    display: none; 
 }
.sticky-toolbar a{
    padding: 0.65rem 0.65rem;
    color: #ffffff !important;
    background-color: #f3f6f9;
    border-color: transparent;
}
#chat-circle:hover{
    background-color: transparent !important;
    border:0;
}
.theme-warning .btn-flat.btn-primary-light:focus {
    color: #ffffff !important;
}
.sub{
    border-radius:10px;
    background-color: #20304c !important;
    padding: 0.875rem 1.1rem 0.875rem 0.75rem;
}

select.option.sub{border:0;}
.mw {
   
  padding: 0.1rem 2.25rem 0.1rem 0.75rem;
  background-color: #566f9e !important; 
  color: #fff !important; 
    
}
.thfont{
    margin-right: 0;
    font-size:12px;
   

}
.tdfont{
    font-size:13px;

}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting.pp{
    padding-right: 32px;
}

.errormsg{
    padding: 0;
    color:#ef4545;
}

.btn-secondary {
    background-color: #bdd1f8 ;
    border-color: #e4e6ef;
    color: #172b4c;
}
#chat-circle{
    color: #ffff !important;
    background-color: #4eb968;
    border-color: transparent;   
}


.green{
    color: #ffff !important;
    background-color: #4eb968;
}

.footercolor{
    color: #ffff !important;
    background-color: #566f9e;
}
.footer-title h3{
    color:#ffffff;
}
.serv{
   width:20em;
   color:#0c1a32 !important;
   background-color: #fff;
}
.main-header .ar-lng{
    background-color:#0c1a32;
    width:50px;
    height:50px;
  
  
}

.card .about{
    min-height: 350px;
}
.flex-grow-1{
    height:350px;
}
.srv-btn{
    position: relative;
    top:1.5rem;
}
.box-light{

 background-color:#566f9e;

}
.fs-16{
    color:#e3e3e8;
}

.s1{
    position: absolute;
    z-index: 2;
    left:9%;
    width: 40%;
    padding-top: 8em;

  
}
.sticky{
    position:sticky;

    top: 0;
  
}

    th {
        background: white;
        position: sticky;
   }
   .s2{
  
    position: absolute;
    z-index: 2;
    right: 9%;
    width: 40%;
    padding-top: 8em;
  
}

.theme-warning .form-control:focus {
    border-color: #ffa800;
}
.form-select:focus {
    border-color: #ffa800 !important;  
}
.ve{
    height:900px ;
}
.or{
    color:#d17f1a !important;
}
.e{
    width:33%;

}
.mob-title{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.app-title{
     width: 40%;
    float: right;
    top:0;
    left:800px;
   
}
.app-download-btns img{
    width: 150px;
}

.carousel-caption .s1-title h2{
    color: #008920;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;

}

.feature{
    margin-top: 10px;
    margin-bottom: 40px;
   
}
.feature-icon,
.stats-icon{
    display: inline-block;
    padding: 0 30px;
    overflow: hidden;
}
.feature h4{
    color: #000000;
    margin: 20px 0 0;
}
.feature:hover .feature-icon img,
.stats-item:hover .stats-icon img{
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}
.ser{
    background-color: rgb(175, 169, 175);
}
.page-header .t{
    margin: 30px 0 40px;
}
.carousel-caption {

    top: 9.25rem
}

.app-download{
    padding-bottom: 20px;
}
.text-home{
   margin-top: 2em;
}

.bankslogo{
    padding: 0.7rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
   
 }

 .bankslogo img{
     max-width:160px;

 }
 .btn-sm {
    padding: .075rem .55rem;
    margin-right: 0.2rem;
    font-size: .925rem;
    line-height: 1.35;
}

.btn-secondary {
    padding: 2px 4px;
    font-size: 0.9rem;
}
 .media-list-hover .active{

    background-color: #112547 !important;
    color:#ffa800 !important;
}

.media-list-hover.fa a:hover svg{
   
    color:#ffffff !important;
}
.theme-warning .sm-blue a:hover svg, .theme-warning .sm-blue a:active svg, .theme-warning .sm-blue a:focus svg {
    color: #ffa800;
    fill: rgba(1, 104, 250, 0);
}


.userbtn{

      width: auto;
   
    font-size: 1.214rem;
   
}
 .termlo{
 
     margin-top:10em;
    
 }
 .demo-checkbox label {
    margin-bottom: 0px;
}
.s-t{
    background-color:#0c1a32 !important;
   
}
.s-t.active{
    box-shadow: -3px -2px 0px 0.1rem rgb(255 168 0 / 50%);
}
 .table > thead > tr > td, .table > thead > tr > th{
     padding: 0.01rem;
  
     color:#ffffff;
      }
.freeze{
    background-color: #566f9e;
}
 .table > tbody > tr > td, .table > tbody > tr > td{
    padding: 0;
}

.trd {
    font-size:12px;
    padding-left: 0 !important;
   
}
table.corp td, th{
    padding: 0.5rem !important;
    padding-left: 0.1rem !important; ;
 }
 table.corpkaman td, th{
    padding-left: 0.5rem !important;
   
 }
.no {
    padding: 0.9rem;
    font-size: 16px;}

.bid{
    background-color: rgb(27 197 188 / 48%)!important;
}
.ask{
    background-color: rgb(246 78 96 / 48%) !important;
    
}

.flashr{
    color:#ffffff !important;
    background-color: #ff0a24 !important;
  
}

.flashg{
    color:#ffffff !important;
    background-color: #0acc24 !important;
  
}

.lastb {
    background-color: rgb(78 114 246 / 25%) !important;
}
.headery{
    background-color: rgb(86 111 158 / 37%) !important;

}

.headery2{
    background-color: #28395a;

}
.new-progress-wrap {
    min-width: 100px;
    margin: 0 auto;
    
}
.new-progress-line > li {
    background-color: rgba(211, 211, 211, 0.3);
    min-height: 10px;
    position: relative;
}
.new-progress-line > li + li:before {
     height: 24px;
 }
 .new-progress-line .scale.first {
    margin-top: 15px;
    text-align: left;
    line-height: 10px;
    left: 0;
    right: auto;
 
}
.baby{
 color: #bdd1f8 !important;
}
.widj{
    padding: 0.8rem;
    padding-bottom: 0.4rem;
}
.buy {
    background-color: rgb(27 197 126 / 45%) !important;
}
.sell {
    background-color: rgb(246 78 96 / 56%) !important;
}

.gry:hover{
    filter: grayscale(100%);
  
}
.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 10.15px;
    left:  0.5995rem;
    width: 2.425rem;
    height: 1.825rem;
    border-radius: 0;
    background: rgb(4 12 18 / 75%);
    transition: left .25s;
    box-shadow: none;
}

.vtabs .tabs-vertical {
    width: 234px;
}
.btn.btn-flat {
      width: 41px;
      height: 41px;
}
.dark-skin .btn-flat.b {
   
    background-color: #1cc51b !important;
} 
.dark-skin .btn-flat.s {
  
    background-color: #ff0a24 !important;
} 
.sticky-toolbar {
        width: 50px;
        
   
        top: 30%;
        left: 0;
        border-top-right-radius: .42rem;
        border-bottom-right-radius: .42rem;
        padding: 10px;   
 }    
.bebo{
   border-right: 2px;
}
 .btn.tic {
  
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px 16px;
}

/*
.btn-toggle.btn-xs:hover {
  
    background-image: url('/images/ar.svg'); 
}
*/
.btn-toggle.btn-xs:hover {
background-color: #20304c;
}
.main-header .push-btn img, .main-header .full-screen img, .main-header .svg-bt-icon img {
    height: 25px;
    width: 25px;
    margin-top: 0.5px;
}
.market {
    color: #b5b5c3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
    display: block;
    position: relative;
}
.market svg {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    color: #b5b5c3;
    text-align: center;
    margin-right: 10px;
    fill: rgba(27, 46, 75, 0.06);
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 0.1em;
    content: "\2191";
    top: 0.1em;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.1em;
    content: "\2193";
    top: 0.1em;
}
.callout-warning{
    position: relative;
    z-index: 2;
    top:26px;
    width:60%;
    left: 5px;

}
.accstmt{}
.theme-warning .callout.callout-warning {
     background-color: transparent !important;
}
.taby{
    background-color: #566f9e;
}
.btn-toggle.btn-xs.active > .handle {
    left: 3.2875rem;
    transition: left .25s;
}
.btn-toggle.active {
    background-color: #20304c;
}

.btn-toggle.btn-xs {
    padding: 10px;
    background-color: #20304c;

 
    font-size: 1.714rem;
    height: 45px;
    text-align: center;
 
    margin: 10px 5px;
    border-radius: 10px;
}
 .data-delay {
   
   
    margin: 0;
    padding: 0 23px;
    line-height: 33px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
   
    position: relative;
    font-weight: bold;
    display: inline-block!important;
    padding: 1px 15px 1px 15px!important;
    background-color: #ef4545;
    font-size: 12px!important;
}

.boxy{
  padding: 0 1.5rem;

}
.boxy2{
    padding: 0 1.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  
  }
.cardy{
    padding: 0 0.5rem !important;
    margin-bottom: 0.5rem !important;
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0);
    
    


}
 .nsp{ padding: 0;}
/*--footer--*/
footer{
    background-color:#566f9e;
}

.b-footer {
    padding: 20px;
 background: #172b4c;

 
}
.stats-icon img{
    max-width:50%
}
.btn.se {
  
    padding: 6px 16px;
    font-size: 1.1rem;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.main-header .navbar {
    padding-right: 0;
}
.main-header .logo .logo-lg {
    padding-left: 0;
}
.layout-top-nav .content-wrapper, .layout-top-nav .main-footer, .layout-top-nav .main-nav > .navbar {
    width: 94.5%;}
/*--//footer--*/
.input-group > .form-control, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
  
    min-width: 0;
    text-align: left;
   
}
.daterangepicker .ranges {
    width: auto;
    background-color:#0c1a32;
}
.theme-warning .ranges li:hover, .theme-warning .ranges li:active, .theme-warning .ranges li.active {
    color:#ffa800;
    background-color: transparent;                                                                                                                                                                                      
}
.btny{
        padding: 4px 8px;
        font-size: 1.0rem;
}
.marketw{
    width: 95%;
}
.theme-warning .nav-tabs .nav-link.active {
    border-bottom-color: transparent !important;
    background-color: transparent  !important;
    color: #ffa800;
}

.dark-skin .nav-tabs .nav-link.active {
    color: #ffffff !important;
}
.dark-skin.theme-warning .sm-blue a:hover, .dark-skin.theme-warning .sm-blue a:active, .dark-skin.theme-warning .sm-blue a:focus {
    background:transparent !important;
    color: #ffa800 !important;
}
.dark-skin.theme-warning .sm-blue a:hover, .dark-skin.theme-warning .sm-blue a:active, .dark-skin.theme-warning .sm-blue a:hover {
    background: transparent !important;
    color: #ffa800 !important;
}
.dark-skin .vtabs .tabs-vertical li .nav-link:hover {
    color: #ffa800;
}

.theme-warning .sm-blue li.current > a:hover, .theme-warning .sm-blue li.current > a:active, .theme-warning .sm-blue li.current > a:focus, .theme-warning .sm-blue li.highlighted > a:hover, .theme-warning .sm-blue li.highlighted > a:active, .theme-warning .sm-blue li.highlighted > a:focus {
    background: transparent;
    color: #ffa800 !important;
}
.theme-warning .sm-blue li.current > a:hover, .theme-warning .sm-blue li.current > a:active, .theme-warning .sm-blue li.current > a:focus, .theme-warning .sm-blue li.highlighted > a:hover, .theme-warning .sm-blue li.highlighted > a:active, .theme-warning .sm-blue li.highlighted > svg a:focus {
    background: transparent;
    color: #ffa800 !important;
}
.theme-warning .sm-blue li.current > a:hover svg, .theme-warning .sm-blue li.current > a:active svg, .theme-warning .sm-blue li.current > a:focus svg, .theme-warning .sm-blue li.highlighted > a:hover svg, .theme-warning .sm-blue li.highlighted > a:active svg, .theme-warning .sm-blue li.highlighted > a:focus svg {
    color: #ffa800;
    fill: rgba(1, 104, 250, 0);
}

.dark-skin .theme-warning a.current .sm-blue a.highlighted {
    color: #b5b5c3 !important;
}


.Portfolio {
    position: relative;
    top:5px;
    left:0;

    width:22px;
    height:22px;
    background-image: url('/images/u-icons/Portfolio.svg');
}
.Portfolio:hover,.Portfolio:hover{
    background-image: url('/images/icon-orange/Portfolio.svg');
}
.Orders {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Orders.svg');
}
.Orders:hover,.Orders:hover{
    background-image: url('/images/icon-orange/Orders.svg');
}
.Stocks {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Stocks.svg');
}
.Stocks:hover,.Stocks:hover{
    background-image: url('/images/icon-orange/Stocks.svg');
}

.Statment {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Statment.svg');
}
.Statment:hover,.Statment:hover{
    background-image: url('/images/icon-orange/Statment.svg');
}

.Screen {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Screen.svg');
}
.Screen:hover,.Screen:hover{
    background-image: url('/images/icon-orange/Screen.svg');
}
.Invoices {
    position: relative;
    top:5px;
    left:0;

    width:20px;
    height:20px;
    background-image: url('/images/u-icons/Invoices.svg');
}
.Invoices:hover,.Invoices:hover{
    background-image: url('/images/icon-orange/Invoices.svg');
}


.Statment {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Statment.svg');
}
.Statment:hover,.Statment:hover{
    background-image: url('/images/icon-orange/Statment.svg');
}

.Requests {
    position: relative;
    top:5px;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/u-icons/Requests.svg');
}
.Requests:hover,.Requests:hover{
    background-image: url('/images/icon-orange/Requests.svg');
}
/* Stickey */ 

.Portfolio2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
  
    background-image: url('/images/icon-orange/Portfolio.svg');
}
.Portfolio2:hover,.Portfolio2:hover{
    background-image: url('/images/u-icons/Portfolio.svg');
    
}
.Orders2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
  
    background-image: url('/images/icon-orange/Orders.svg');
}
.Orders2:hover,.Orders2:hover{
    background-image: url('/images/u-icons/Orders.svg');
}
.Stocks2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/icon-orange/Stocks.svg');
}
.Stocks2:hover,.Stocks2:hover{
  
    background-image: url('/images/u-icons/Stocks.svg');
}

.Statment2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
    background-image: url('/images/icon-orange/Statment.svg');
}
.Statment2:hover,.Statment2:hover{
  
    background-image: url('/images/u-icons/Statment.svg');
}

.Screen2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
  
    background-image: url('/images/icon-orange/Screen.svg');
}
.Screen2:hover,.Screen2:hover{
    background-image: url('/images/u-icons/Screen.svg');
    
}
.Invoices2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
    
    background-image: url('/images/icon-orange/Invoices.svg');
}
.Invoices2:hover,.Invoices2:hover{
    background-image: url('/images/u-icons/Invoices.svg');
  
}


.Statment2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
 
    background-image: url('/images/icon-orange/Statment.svg');
}
.Statment2:hover,.Statment2:hover{
    background-image: url('/images/u-icons/Statment.svg');
   
}

.Requests2 {
    position: relative;
    top:0;
    left:0;

    width:25px;
    height:25px;
   
    background-image: url('/images/icon-orange/Requests.svg');
}
.Requests2:hover,.Requests2:hover{
    background-image: url('/images/u-icons/Requests.svg');
   
}
.sidelink{
    width:200px;
}
.dark-skin.theme-warning .sm-blue a:hover, .dark-skin.theme-warning .sm-blue a:active, .sm-blue a.highlighted svg , .dark-skin.theme-warning .sm-blue a.highlighted {
    background: transparent;
    color: #ffa800 !important;
}
.foo a:hover{
    color: #ffa800 !important;
}
.bb{
    padding-left: 40px;
    padding-right: 40px;
    background-color:#1cc51b !important;
    color: #ffffff !important;
}
.sb{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ff0a24 !important;
    color: #ffffff !important;
}

.bbb{
   
    background-color: #1cc51b;
    color: #ffffff !important;
   
}
.sbb{
    background-color: #ff0a24;
   
    color: #ffffff !important;

}
.modal.fade .modal-dialog .service{
    background-color: #566f9e;
    
}
.modal.fade .modal-dialog .service p{
    color:#ffffff;
    font-size:1em;
}
.modal.fade .modal-dialog .service h3{
    color:#20304c;
}
.feature h4{
    color:#ffffff !important;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:40%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

/*-- blog --*/ 
.blog-left {
    float: left;
    width: 45%;
	overflow:hidden;
} 
.blog-right {
    float: right;
    width: 55%;
    min-height: 234px;
    background: #ffffff1f;
    color:#ffffff;
    padding:2.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-align: left;
}
.wthree-almub{
    background: url('/images/pro.jpg')no-repeat center;
    background-size: cover;
    min-height: 234px;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
	display: block;
}
.wthree-almub.wthree-almub2 {
    background: url('/images/std.jpg')no-repeat center;
    background-size: cover;
}

.w3lsblog-grid {
    margin-top: 2em;
}
 
.w3more{
    font-size: 1em;
    color: #000;
    margin-top: 1em;
    display: inline-block;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.w3more:hover,.w3more:focus {
	color:#FFC107;
	padding-left: 8px;
} 
.w3lsblog-grid:hover .wthree-almub{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}  
.blog-w3top {
    display: block;
    padding: 1em 2em;
    background:#01e2ff;
}

.stepl{
    float: right;
    width:80%;
    margin-right: 1rem;


}
.stepr{
    float:left;
    width:85%;
    margin-left: 1rem;

}
.fbox{
    height:432px;
}
.fbox2{
    height:395px;
}
/*
/*-- //blog --*/

.ribbon-box .ribbon {
  
    font-size: 3rem;

}
.layout-top-nav .main-menu-btn{
    top: -14px;  
}

table {
    text-align: left;
    position: relative;
  }
  
  th {
   
    position: sticky;
    top: 0;
  }
  #managerTable {
    max-height: 500px;
    overflow: auto;
}
[data-tooltip] {
  
    position: relative;
    z-index: 10;
  }
 
  /* Positioning and visibility settings of the tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px); /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
  }
  
  /* The actual tooltip with a dynamic width */
  [data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 4px 8px;
    min-width: 50px;
    max-width: 450px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 12px;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(30deg,
      rgba(59, 72, 80, 0.44),
      rgba(59, 68, 75, 0.44),
      rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: justify;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
  }
  
  /* Tooltip arrow */
  [data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px; /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;   /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
  }
  
  /* Tooltip becomes visible at hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
  /* Scales from 0.5 to 1 -> grow effect */
  [data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
  }
  /* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
  [data-tooltip]:hover:after {
    transition-delay: 0.5s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
  }
  /*
    That's it for the basic tooltip.
  
    If you want some adjustability
    here are some orientation settings you can use:
  */
  
  /* LEFT */
  /* Tooltip + arrow */
  [data-tooltip-location="left"]:before,
  [data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
  }
  
  /* Tooltip */
  [data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
  }
  [data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
  }
  
  /* Arrow */
  [data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
  }
  
  
  
  /* RIGHT */
  [data-tooltip-location="right"]:before,
  [data-tooltip-location="right"]:after {
    left: calc(100% + 5px);
    bottom: 50%;
  }
  
  [data-tooltip-location="right"]:before {
    transform: translate(5px, 50%) scale(0.5);
  }
  [data-tooltip-location="right"]:hover:before {
    transform: translate(5px, 50%) scale(1);
  }
  
  [data-tooltip-location="right"]:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
  }
  
  
  
  /* BOTTOM */
  [data-tooltip-location="bottom"]:before,
  [data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
  }
  
  [data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
  }
  [data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
  }
  
  [data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
  }
  #managerTable2 {
    height: 135px;
    overflow: auto;
}
  
  
h5.buytic{
    font-size: 0.8428571428571428rem;
}
.powery {
    font-size: 1rem;
    font-weight:400;
}
.tickery{
    font-size: 1rem
}

.toptic{
    font-size: 1rem;
    
  
}
.toptic h5{
    font-size: 1rem;
    
  
}

.table > tbody > tr > td, .table > tbody > tr > th {
    padding: 0rem !important;
    vertical-align: middle;
}
hr {
    margin: 0.5rem 0;
}

.col-form-label.pno {
    padding-top: calc(0.075rem + 1px);
    padding-bottom: calc(0.075rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.progress:before, .progress:after {
    content: "";
    width: 0px;
    height: 20px;
    border-radius: 10%;
    
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #1bc5bd !important;
    border-radius: 0.25rem;
}
.managerTable3 {
    max-height: 330px;
    overflow: auto;
}
.sect{
    width:340px;
    padding: 1rem;
    background-color: #112547 !important;
}
@media (max-width: 767px) {

    .main-header .navbar-custom-menu .navbar-nav > li > a.dropdown-toggle {
        margin: 0px 5px;
    }
    .main-header .navbar {
        padding-right: 8px;
        padding-left: 12px;
    }

    .blog-right {
        width: 100%;
        }
        .blog-left {
            width: 100%;
            }
    .stepl, .stepr{
        width:100%;
        margin-right:0;
        margin-left:0;
    } 
    .fbox, .fbox2{
        height:auto;
    } 
    .callout-warning{
        width:100%;
        top:20px;
        left: 10px;
    
    }
    .accstmt{
        padding-top:20px;
    }
    h5.buytic{
        font-size: 0.8428571428571428rem;
    }
    .powery {
        font-size: 12px;
    }
    .tickery{
        font-size: 0.7428571428571428rem
    }
    
    .toptic{
        font-size: 0.9rem;
        
      
    }
    .toptic h5{
        font-size: 1rem;
        
      
    }
    .bb, .sb{
        font-size:0.7rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-left:10px;
        margin-right:10px;
    }
    .mob,.mob-title{
        visibility: hidden;
    }
    
    }